// table td内容超过5行显示...
.el-table{
  & td{
    & .text-to-long-cut{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      /* autoprefixer: ignore next */
      -webkit-box-orient: vertical
    }
  }
}
