.query-title {
  padding-bottom: 16px;
}
.el-transfer-panel-new {
  width: 350px;
  text-align: left;
}
.el-transfer-panel-new .el-transfer-panel__list.is-filterable {
  padding-bottom: 40px;
  height: 354px;
}
.el-transfer-panel-new  .el-transfer-panel__body {
  height: 400px;
}
.left-footer {
  padding-top: 6px;
  padding-left: 10px;
}
.right-footer {
  text-align: right;
  margin: 0;
  padding: 8px 10px 0 0;
}
.right-footer span {
  color: red
}
.add-wrap .el-radio-button {
  margin-right: 10px;
}
.add-wrap .el-radio-button .el-radio-button__inner {
  border-left: 1px solid #dcdfe6;
  border-radius: 4px;
  box-shadow: none!important;
}
.footer {
  text-align: right;
  margin-top: 20px;
}